:host{
  display: block;
  width: 615px;
  padding-top: 30px;
  .cards{
    margin-left:145px;
    width:490px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    app-single-card{
      margin-left:-145px;
      width:200px;
      position: relative;
      background-color: white;
      box-shadow: -3px 3px 2px #1e1e1e1c;
    }
  }
}
