<mat-card>
  <mat-card-header>
    <mat-card-title>Player cards</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="cards" [@listAnimation]="cards.length">
      <app-single-card [card]="card" *ngFor="let card of cards; let i=index;" [ngStyle]={marginTop:calculTop(i)}></app-single-card>
    </div>
  </mat-card-content>
</mat-card>
