@import '~@angular/material/theming';

$light-theme-primary: mat-palette($mat-gray, 500, 200, 900); /*default, lighter, darker*/
$light-theme-accent:  mat-palette($mat-light-blue, 500, 200, 900); /*default, lighter, darker*/
$light-theme-warn:    mat-palette($mat-red);

// Sass color vars (will be available in all the project)
$primary: mat-color($light-theme-primary);
$primary-light: mat-color($light-theme-primary, 500);
$primary-dark: mat-color($light-theme-primary, 900);

$accent: mat-color($light-theme-accent);
$accent-light: mat-color($light-theme-accent, 200);
$accent-dark: mat-color($light-theme-accent, 900);

$warn: mat-color($light-theme-warn);
