@import '~@angular/material/theming';
// Plus imports for other components in your app.

$letter-spacing-body: 0px;
$letter-spacing-heading: -1px;
$font-family: 'Roboto, Helvetica Neue, sans-serif';

$custom-typography: mat-typography-config(
$font-family: $font-family,
$headline: mat-typography-level(32px, 40px, 700, $font-family,$letter-spacing-heading), /*h1*/
$title: mat-typography-level(25px, 28px, 300, $font-family,$letter-spacing-heading), /*h2*/
$subheading-2: mat-typography-level(20px, 24px, 500, $font-family,$letter-spacing-heading), /*h3*/
$subheading-1: mat-typography-level(20px, 24px, 300, $font-family,$letter-spacing-heading), /*h4*/
$body-1: mat-typography-level(14px, 20px, 300,$font-family,$letter-spacing-body), /*base body text*/
$body-2: mat-typography-level(12px, 20px, 300,$font-family,$letter-spacing-body), /*smaller text*/
$caption: mat-typography-level(10px, 14px, 300,$font-family,$letter-spacing-body) /*small text*/
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);

@import './light-theme_variables';
$light-theme:   mat-light-theme($light-theme-primary, $light-theme-accent, $light-theme-warn);

.light-theme{
  @include angular-material-theme($light-theme);
}
