<div class="card {{card.suit.type}}">
  <div class="topleft">
    <div class="icon">
      <mat-icon *ngIf="card.icon" svgIcon="{{card.icon}}"></mat-icon>
      <span *ngIf="!card.icon">{{card.value}}</span>
    </div>
    <div class="suit">
      <mat-icon svgIcon="{{card.suit.icon}}"></mat-icon>
    </div>
  </div>
  <div class="center">
    <ng-container *ngIf="card.text==='A'"><mat-icon class="singleicon" svgIcon="{{card.suit.icon}}"></mat-icon></ng-container>
    <div class="faceicon" *ngIf="card.value > 10 && card.text !== 'A'">
      <mat-icon svgIcon="{{card.icon}}"></mat-icon><mat-icon class="reverse" svgIcon="{{card.icon}}"></mat-icon>
    </div>
    <div class="multipleicon" *ngIf="card.value<=10">
      <mat-icon *ngFor='let in of counter(card.value) ;let i = index' svgIcon="{{card.suit.icon}}"></mat-icon>
    </div>
  </div>
  <div class="bottomright">
    <div class="suit flip">
      <mat-icon svgIcon="{{card.suit.icon}}"></mat-icon>
    </div>
    <div class="icon flip">
      <mat-icon *ngIf="card.icon" svgIcon="{{card.icon}}"></mat-icon>
      <span *ngIf="!card.icon">{{card.value}}</span>
    </div>
  </div>
</div>
