@import './light-theme_variables';
:host{
  .card{
    border: 1px solid $primary-light;
    &.spades, &.clubs{
      color:black;
    }
    &.hearts, &.diamonds{
      color:red;
    }
    position: relative;
    display: block;
    width:200px;
    height:250px;
    .topleft{
      position: absolute;
      left:10px;
      top:10px;
      text-align: center;
    }
    .center{
      .multipleicon{
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-44%) translateY(-50%);
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        mat-icon{
          width: 30%;
          transform: scale(1.5);
          padding: 6px;
        }
      }
      .faceicon{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-44%) translateY(-50%);
        display: flex;
        flex-direction: column;
        mat-icon{
          transform: scale(7);
          padding-bottom: 10px;
          &.reverse{
            transform: scaleX(-1) scaleY(-1) scale(7);
          }
        }
      }
      mat-icon{
        &.singleicon{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%) scale(5);
        }
      }
    }
    .bottomright{
      position: absolute;
      bottom:10px;
      right:10px;
      text-align: center;
    }
    .suit{
      &.flip{
        transform: scaleX(-1) scaleY(-1);
      }
    }
    .icon{
      font-weight:900;
      span{
        font-size:34px;
        line-height: 24px;
      }
      mat-icon{
        transform: scale(2.5);
      }
      &.flip{
        transform: scaleX(-1) scaleY(-1);
      }

    }
  }

}
