:host{
  padding-right: 50px;
  padding-top: 30px;
  mat-spinner{
    left:25%;
  }
  .cards{
    width: 201px;
    height: 252px;
    app-single-card{
      cursor: pointer;
      position: absolute;
      background-color: white;
      &:nth-child(2){
        ::ng-deep{
          .card{
            box-shadow: 5px 5px 4px 0px #00000099;
          }
        }
      }
    }
  }
  mat-card-actions{
    text-align: center;
  }

}
