<mat-card>
  <mat-card-header>
    <mat-card-title>Dealer cards</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-spinner *ngIf="cards.length<1 && showloading"></mat-spinner>
    <div class="cards" [@listAnimation]="cards.length">
      <app-single-card [card]="card" *ngFor="let card of cards"></app-single-card>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="accent" (click)="ResetDeck()">Reset</button>
    <button mat-button color="accent" (click)="ShuffleDeck()">Shuffle</button>
    <br />
    <button mat-button color="accent" (click)="DealOneCard()">Deal one card</button>
  </mat-card-actions>
</mat-card>
